@model PaginatedList<Transaction>


<br />
<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient m-lg-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-dark py-2">Transaction List</h1>
            </div>
        </div>
    </div>
    <div class="row pb-3">
        <div class="col-md-3 offset-md-9">
            <form asp-controller="Transaction" asp-action="Search" method="get" class="form-inline">
                <div class="input-group">
                    <button type="submit" class="btn btn-outline-primary">
                        Search
                    </button>
                    <label for="searchString"></label>
                    <input type="text" class="form-control" id="searchString" name="searchString" placeholder="" aria-label="Search">


                </div>
            </form>
        </div>
    </div>
    <div class="card-body p-4">
        <ul class="navbar-nav flex-grow-1 text-end">
        <li class="nav-item dropdown parentcont">
            <a class="nav-link dropdown-toggle" style="color:black" id="btnDrop" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                 TRANSACTION
            </a>
                <div id="hide-drop-down" style="display: none; position: relative;">
                <a asp-controller="Transaction" asp-action="MakeDeposit" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Deposit</a>
                <a asp-controller="Transaction" asp-action="MakeTransfer" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Transfer</a>
                <a asp-controller="Transaction" asp-action="MakeWithdrawal" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i>Withdrawal</a>
            </div>
        </li>
        </ul>
        <table class="table table-custom">
            <thead>
                <tr>
                    <th>
                        TransactionUnique Reference
                    </th>
                    <th>
                        Transaction Amount
                    </th>

                    <th>

                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Items.Any())
                {
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td>@item.TransactionUniqueReference</td>
                            <td>@item.TransactionAmount</td>
                            
                            <td>
                                <a class="btn btn-outline-primary float-right" asp-action="TransactionDetails" asp-route-id="@item.Id">
                                    <i class="bi bi-eye-fill"></i> Show Details
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
            @if (Model != null && Model.TotalPages > 1)
            {
                <tfoot>
                    <tr>
                        <td colspan="8">
                            <nav aria-label="Transaction navigation">
                                <ul class="pagination pagination-custom justify-content-center">
                                    @for (var i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                            <a class="page-link" href="?page=@i">@i</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                        </td>
                    </tr>
                </tfoot>
            }
        </table>
    </div>
</div>

